$tColor: #282328;
$mainColor: #5b3757;
$mainColor43: #5b375743;
$fontColor: #FFEDE9;
$colorSection: #645A6E;
@media screen and (max-width:600px){
.formulario{
    background-color: $colorSection;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 15%;
    color: $fontColor;
    padding: 15%;
}
.as{
    margin: 50% 0;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.as h1{
    padding: 2%;
}
.input2{
    width: 20em;
    height: 1em;
    border: none;
    padding: 1%;
    margin: .5% 0;
}
.buttonq{
    margin: 2% 0;
    width: 15em;
}
.textarea2{
    width: 20em;
    max-width: 20em;
    min-width: 20em;
    height: 6em;
    max-height: 10em;
    border: none;
    padding: 1%;
    margin: 2% 0;
}
}