$tColor: #282328;
$mainColor: #5b3757;
$mainColor43: #5b375743;
$fontColor: #FFEDE9;
$colorSection: #645A6E;
@media screen and (max-width:600px) {
.img-head-home{
    width: 100%;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $fontColor;
    font-size: .7em;
    text-align: start;
    h1{
        font-size: 1em;
    }
}
.aside-home{
    margin-top: -5%;
    background-color: $colorSection;
    padding: 15% 10% 10% 10%;
}
.section-home-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $tColor;
    background-color: white;
    padding: 5%;
    gap: 5%;
    article{
        width: 50%;
        font-size: .5em;
    }
}
.h2home{
    background-color: $colorSection;
    h4{
        color: $tColor;
        font-size: .5em;
    }
}
.aside-curso{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    background-color: white;
}
.star{
    width: 8em;
}
.curso-t{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    p{
        text-align: start;
    }
}
.bg-2{
    background-color: $colorSection;
    padding: 10%;
}
}